@media only screen and (max-width: 499px) {



/* online ordering pop up window stylings */
.order-pop-up-main-outer-wrapper {
display: inline-block;
position: fixed;
z-index: 1000;
width: 100vw;
height: 100vh;
background-color: rgb(5, 5, 5, .8);
}

.order-pop-up-main {
height: 70%;
}

.order-pop-up-header {
display: inline-block;
margin: 50px 0 0 0;
font-size: 28px;
letter-spacing: 2.5px;
color: var(--light-yellow);
}

.order-hr-rule {
width: 80%;
border: .5px solid var(--light-yellow);
}

.ordering-hints {
display: inline-block;
width: 80%;
margin: 25px 0 0 0;
font-size: 18px;
letter-spacing: .7px;
line-height: 24px;
color: var(--light-yellow);
}

.ordering-pop-up-button-wrapper {
display: inline-block;
width: 100%;
}

.online-order-button-wrapper {
display: inline-block;
width: 100%;
margin: 50px 0 0 0;
}

.online-order-button {
display: inline-block;
color: #f2f2f2;
border: 1px solid white;
padding: 6px 40px;
text-decoration: none;
font-size: 20px;
letter-spacing: 3px;
}

.online-order-button:hover {
text-decoration: underline;
transition: text-decoration;
}

.continue-to-site-button-wrapper {
display: inline-block;
width: 100%;
margin: 20px 0 0 0;
border: none;
}

.continue-to-site-button {
display: inline-block;
color: #f2f2f2;
background-color: transparent;
font-size: 16px;
letter-spacing: 2px;
border: none;
text-decoration: none;
}

.continue-to-site-button:hover {
text-decoration: underline;
transition: text-decoration;
}



.bar-wrap-main {
width: 50px;
}

.yellow-nav-stuff {
font-size: 22px;
}

.address-link {
letter-spacing: 1px;
font-size: 12px;
font-weight: 500;
}

.intro-image-wrap {
display: none;
}

}

@media only screen and (min-width: 350px) {

/* this is the transition passed in via javasctipt hoe!!!!!!!!!! */
.navigation-yellow-box {
width: 270px;
margin-left: -270px;
transition: margin-left .5s ease-in-out;
}

.fuxxx-it {
margin-left: 0;
transition: margin-left .5s ease-in-out;
}

}

@media only screen and (min-width: 500px) {

.rangoon-bistro-heading {
font-size: 38px;
}

/* this is the transition passed in via javasctipt hoe!!!!!!!!!! */
.navigation-yellow-box {
width: 400px;
margin-left: -400px;
width: 80%;
margin-left: -80%;
transition: margin-left .5s ease-in-out;
}

.fuxxx-it {
margin-left: 0;
transition: margin-left .5s ease-in-out;
}

/* these are the stylings for the image next to the introduction text!!!!!!!!!!!!!! */
.intro-image-wrap {
float: right;
width: 50%;
text-align: center;
padding: 0px 20px 20px;
}

.intro-image {
display: inline-block;
width: 100%;
height: 100%;
}

.ticket-btn,
.market-btn {
padding: 15px 50px;
font-size: 20px;
} 
}


@media only screen and (min-width: 700px) {
/* save for larger screens */
.where-wrapper-one {
position: absolute;
bottom: 0;
margin-bottom: 50px;
}

.nope {
opacity: 0;
transition: opacity 1000ms ease-out;
}
 
.text-fade {
opacity: 1;
transition: opacity 1000ms ease-in;  
}

.poof {
display: initial;
width: 100%;
font-family: 'Poppins', sans-serif;
font-size: 20px;
letter-spacing: .7px;
font-weight: 200;
}

.menu-heading,
.menu-description-wrapper {
text-align: left;
}
.menu-hr-rule {
text-align: center;
}

}

@media only screen and (min-width: 1000px) {

.hero-image {
margin-top: -50px;
}

.order-pop-up-main-outer-wrapper {
display: none;
}
}