:root {
--main-bg-color: rgb(245, 245, 245);
--font-main-color: #662200;
--yellow-ish: #e6b800;
--light-yellow: #ffcc00;
}


body {
box-sizing: border-box;
width: 100vw;
background-color: rgb(245, 245, 245);
background-color: var(--yellow-ish);
padding: 0;
margin: 0;
background-color: #ffcc00;

font-family: 'Poppins', sans-serif;
}

.preload {
-webkit-transition: none !important;
-moz-transition: none !important;
-ms-transition: none !important;
-o-transition: none !important;
transition: none !important;
}

/* online ordering pop up window stylings */
.order-pop-up-main-outer-wrapper {
display: inline-block;
position: fixed;
z-index: 1000;
width: 100vw;
height: 100vh;
background-color: rgb(5, 5, 5, .8);
}

.order-pop-up-main {
position: fixed;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%, -50%); 
-moz-transform: translate(-50%, -50%);
-o-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
width: 90%;
height: 70%;
background-color: var(--font-main-color);
text-align: center;
}

.order-pop-up-header {
display: inline-block;
margin: 50px 0 0 0;
font-size: 32px;
letter-spacing: 3px;
color: var(--light-yellow);
}

.order-hr-rule {
width: 80%;
border: .5px solid var(--light-yellow);
}

.ordering-hints {
display: inline-block;
width: 80%;
margin: 25px 0 0 0;
font-size: 20px;
letter-spacing: .7px;
line-height: 24px;
color: var(--light-yellow);
}

.ordering-pop-up-button-wrapper {
display: inline-block;
width: 100%;
}

.online-order-button-wrapper {
display: inline-block;
width: 100%;
margin: 50px 0 0 0;
}

.online-order-button {
display: inline-block;
color: #f2f2f2;
border: 1px solid white;
padding: 10px 60px;
text-decoration: none;
font-size: 28px;
letter-spacing: 3px;
}

.online-order-button:hover {
text-decoration: underline;
transition: text-decoration;
}

.continue-to-site-button-wrapper {
display: inline-block;
width: 100%;
margin: 100px 0 0 0;

}

.continue-to-site-button {
display: inline-block;
color: #f2f2f2;
background-color: transparent;
font-size: 16px;
letter-spacing: 2px;
border: none;
text-decoration: none;
}

.continue-to-site-button:hover {
text-decoration: underline;
transition: text-decoration;
}


/* heading stylings foooooollll !!!!! !!!!!!!!!!!! !!!!!!!!!!!!! !!!!!!!!!!!!!! */
.rangoon-heading-main-outside-wrapper {
display: inline-block;
width: 100vw;
padding: 0;
margin: 0;

background-color: rgb(245, 245, 245);
}

.header-wrap-inside {
display: inline-block;
width: 100vw;
}

.rangoon-bistro-heading-wrapper {
display: inline-block;
margin: 0;
padding: 0;
}

.rangoon-bistro-heading {
color: #662200;
color: var(--font-main-color);
padding: 0;
margin: 30px 0 0 10vw;
font-size: 26px;
font-weight: 700;
letter-spacing: .7px;
}

/* this is the navigation !!!!!!!! !!!!!!!!!! !!!!!!!! !!!!!!! */
.navigation-yellow-box {
width: 240px;
height: 100%;
background-color: #ffeb99;
position: fixed;
z-index: 1000;
padding: 0;
margin: 0;
margin-left: -240px;
top: 0;
text-align: left;
transition: margin-left .5s ease-in-out;
}

/* this is the transition passed in via javasctipt hoe!!!!!!!!!! */
.fuxxx-it {
margin-left: 0;
transition: margin-left .5s ease-in-out;
}

/* beginning of contact information !!!!!!! !!!!!!!! !!!!!!!! !!!!!! !!!!!!! */
/* .contact-info-main-wrapper also applies to the footer */
.contact-info-main-wrapper {
display: inline-block;
width: 100%;
min-height: 550px;
margin: 0;
background-color: rgb(230,184,0, .5);

color: var(--font-main-color);
}

.contact-wrap-one {
text-align: left;
width: 100%;
padding: 25px 0 0 0;
font-family: 'Poppins', sans-serif;
} 

.yellow-nav-stuff {
    display: inline-block;
    width: 60%;
font-size: 32px;
letter-spacing: 1.5px;
text-decoration: underline;
margin: 10px 0 0 5%;
padding: 0;
color: var(--font-main-color);
}

.yellow-nav-stuff:visited {
color: var(--font-main-color);
}
.yellow-nav-stuff:active {
color: var(--font-main-color);
}
.yellow-nav-stuff:hover {
color:rgb(102,34,0, .5);
text-decoration: none;
}

.nope {
opacity: 0;
transition: opacity 800ms ease-out;
}

.text-fade {
opacity: 1;
transition: opacity 800ms ease-in;  
}


.address-link {
display: inline-block;
width: 80%;
letter-spacing: 1.5px;
color: var(--font-main-color);
text-decoration: none;

font-size: 18px;
line-height: 19px;
margin: 10px 0 0 5%;
padding: 0;
}

.address-link:visited {  
color: var(--font-main-color);
}

.address-link:active {
color: var(--font-main-color);
}


.address-link:hover {
color:rgb(102,34,0, .5);
text-decoration: underline;
}


/* hamburger menu stylings!!!!!! 1 !!!!!!!!!!! !!!!!!!! !!!!!!!!!!! ! */
.bar-wrap-main {
float: right;
text-align: center;
width: 60px;
background-color: #662200;
margin: 25px 25px 0 0;
border-radius: 3px;
box-shadow: 0 10px 20px -10px rgb(10, 10, 10, .9);
}

.bar-wrap-main-after {
position: fixed;
margin: 0;
padding: 0;
z-index: 1000;
top: 25px;
right:25px;
}

.bar-wrap {
display: inline-block;
width: 35px;
margin: 15px 0 12px 0;
}

.bar {
float: left;
width: 100%;
height: 3px;
background-color: rgb(245, 245, 245);
margin: 4px 0;

transition: .5s ease-in-out;
}

.bar-one {
transition: .5s ease-in-out;
transform: translateY(5.5px) rotate(45deg);

}

.bar-two {
transition: .5s ease-in-out;
transform: translateY(-5.5px) rotate(-45deg);
}

/* HERO PICTURE STYLINGS !!!!!!! !!!!!!!!! !!!!!!!!!!!! !!!!!!!!!!!!!!!!! !!!!!!!!!! */
.hero-wrapper-outer {
position: relative;
width: 100vw;
max-height: 500px;
overflow: hidden;
margin: 50px 0 0 0;
}

.hero-image {
display: inline-block;
width: 100vw;
}

.hero-text {
width: 100%;
position: absolute;
top: 50%;
transform: translateY(-50%);
padding: 30px 0;
padding-left: 10vw;
text-align: left;
font-size: 48px;
font-weight: 500;
color: #662200;
background-color: rgb(245, 245, 245, .3);
}

/* MAIN CONTENT FOR THE SITE !!!!!!! !!!!!!!!!! !!!!!!!!!!!!! !!!!!!!!!! ! */

.main-content-outer-wrapper {
display: inline-block;
text-align: center;
width: 100vw;
min-height: 400px;
margin-top: -4px;
background-color: var(--main-bg-color);
}

.bistro-intro-part {
display: inline-block;
text-align: left;
width: 80%;
margin: 50px 0px;
}
.test-text {
width: 100%;
font-size: 18px;
letter-spacing: .7px;
line-height: 24px;
color: var(--font-main-color);
}

.test-text-too {
width: 100%;
font-size: 18px;
letter-spacing: .7px;
line-height: 24px;
}

.poof {
display: none;
}


/* ticket links wrapper !!!!!! !!!!!!!!!!!!! !!!!!!!!!!!!!! !!!!!!!!!! */

.ticket-links-wrapper {
display: inline-block;
width: 100vw;
background-color: var(--font-main-color);
}

.ticket-btn-wrapper {
display: inline-block;
width: 49%;
margin: 100px 0;
}

.ticket-btn {
background-color: none;
border: 1.5px solid white;
padding: 15px 20px;
color: var(--main-bg-color);
font-size: 13px;
letter-spacing: 1px;

-webkit-text-decoration-color: transparent;
-moz-text-decoration-color: transparent;
text-decoration: underline;
text-decoration-color: transparent;
transition: .3s;
}

.ticket-btn:hover {
-webkit-text-decoration-color: underline;
-moz-text-decoration-color: underline;
text-decoration: underline;

text-decoration-color: underline;
transition: .3s ease-in-out;
}

.market-btn-wrapper {
display: inline-block;
width: 49%;
margin: 100px 0;
}

.market-btn {
background-color: none;
border: 1.5px solid white;
padding: 15px 20px;
color: var(--main-bg-color);
font-size: 13px;
letter-spacing: 1px;

-webkit-text-decoration-color: transparent;
-moz-text-decoration-color: transparent;
text-decoration: underline;
text-decoration-color: transparent;
transition: .3s;
}

.market-btn:hover {
-webkit-text-decoration-color: underline;
-moz-text-decoration-color: underline;
text-decoration: underline;

text-decoration-color: underline;
transition: .3s ease-in-out;
}



/* photo grid !!!!! !!!!!!! !!!!!!! !!!!!!! !!!!!!!! !!!!!!!! !!!!!!!! !!!!!!!! !!!!!!! */

.main-photo-grid-wrapper {
display: inline-block;
width: 100vw;
margin: 0;
padding: 0;
background-color: white;
background-color: var(--main-bg-color);
}

.photo-grid-wrapper {
display: grid;
width: 80%;
margin: 15px 0;
margin-left: 9%;
padding: 0;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
background-color: var(--main-bg-color);
}

.photo-grid-item {
display: inline-block;
width: 100%;
height: 300px;
padding: 10px;
background-color: #b3b3b3;
}

.photo-anchor {
display: inline-block;
}

.grid-test-photo {
display: inline-block;
width: 100%;
min-width: 300px;
min-height: 300px;
max-height: 300px;
}

.second-red-banner {
display: inline-block;
width: 100vw;
height: 250px;
background-color: var(--font-main-color);
margin: 0;
padding: 0;
}

/* menu stylings !!!!!!!!!!!! !!!!!!!!! !!!!!!!!! !!! !!!! */



/* beginning of menu styles   */
.pop-menu-main-body-wrapper {
display: inline-block;
text-align: center;
width: 80%;
margin: 50px 0 0 0;
color: #662200;
}

.menu-main-body-wrapper {
display: inline-block;
text-align: center;
width: 80%;
margin: 0 0 0 0;
color: #662200;
}


/* this is the heading for the menu page  */
.menu-heading {
display: inline-block;
text-align: center;
width: 100%;
font-size: 48px;
font-weight:  500;
padding: 0;
margin: 0;
}

.hr-rule {
padding: 0;
margin: 5px 0 0 0;
width: 100%;
border: .5px solid #662200;
text-align: center;
}

.menu-description-wrapper {
display: inline-block;
text-align: center;
width: 100%;
margin: 0 0 25px 0;
}

.menu-description {
font-size: 18px;
letter-spacing: .7px;
line-height: 24px;
}

/* this is the beginning of menu grid   !!!!!!!!!!!!!!!!! */
.menu-item-outer-wrapper {
display: grid;
justify-content: space-evenly;
grid-template-columns: repeat(auto-fit, minmax(280px, 350px));
row-gap: 20px;
margin: 25px 0;
}

.second-menu-item-outer-wrapper {
display: grid;
justify-content: space-evenly;
grid-template-columns: repeat(auto-fit, minmax(280px, 350px));
row-gap: 20px;
margin: 25px 0;
}

.menu-item-header {
display: inline-block;
text-align: center;
width: 100%;
text-transform: uppercase;
font-size: 26px;
font-weight: 500;
margin: 0;
padding: 0;
}

.menu-hr-rule {
display: inline-block;
text-align: center;
padding: 0;
margin: 0 0 0 5%;
width: 90%;
}

.menu-item {
display: inline-block;
text-align: center;
width: 100%;
min-height: 150px;
}

.menu-item-ingredients {
display: inline-block;
font-size: 18px;
letter-spacing: .7px;
line-height: 24px;
width: 80%;
/* border: .5px solid #662200; */
}

.dessert-menu-item-ingredients {
display: inline-block;
text-align: center;
font-size: 15px;
width: 100%;
margin: 5px 0;
padding: 0;
}

.dessert {
margin-top: 2px;
}

/* rangoooooooon foooooootter !!!!!!!!! !!!!!!!! !!!!!!!!!!!!!!!!!!!!! !!!!!!!!!!! */
.rangoon-footer-wrapper {
text-align: center;
width: 100vw;
min-height: 550px;
background-color: var(--font-main-color);
}

.footer-specific-styles {
display: inline-block;
width: 100%;
margin: 50px 0 0 0;
}

.contact-wrap-two {
text-align: left;
width: 100%;
padding: 25px 0 0 0;
font-family: 'Poppins', sans-serif;
} 

.fuck-tard {
display: inline-block;
width: 50%;
font-size: 32px;
letter-spacing: 1.5px;
text-decoration: underline;
margin: 0 0 0 10%;
padding: 0;
color: var(--yellow-ish);
}

.fuck-tard:visited {
color: var(--yellow-ish);
}

.fuck-tard:active {
color: var(--yellow-ish);
}

.fuck-tard:hover {
color:rgb(245, 245, 245, .5);
text-decoration: none;
}

.shit-head {
display: inline-block;
width: 70%;
letter-spacing: 1.5px;
color: var(--yellow-ish);
text-decoration: none;

font-size: 18px;
line-height: 19px;
margin: 10px 0 0 10%;
padding: 0;
}

.shit-head:visited {  
color: var(--yellow-ish);
}

.shit-head:active {
color: var(--yellow-ish);
}

.shit-head:hover {
color:rgb(245, 245, 245, .5);
text-decoration: underline;
}



